<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="background">

  <ion-card class="loginBox">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="user.email" placeholder="E-mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="user.password" placeholder="password" type="password"></ion-input>
      </ion-item>
      <ion-button  (click)="login()">Entrar</ion-button>
      <ion-button  (click)="register()" color="warning">Register</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
